aiocache==0.12.2
beautifulsoup4==4.14.2
browser_cookie3==0.19.1
cryptography>=42.0,<44.1
dnspython==2.8.0
httpx_ntlm==1.4.0
humanize==4.14.0
loguru==0.7.2
Mako==1.3.2
mitmproxy==11.0.2
packaging==25.0
pytest==9.0.0
respx==0.22.0
soupsieve==2.8
SQLAlchemy==2.0.44
structlog==25.5.0
tld==0.13
wapiti_arsenic==28.5
wapiti_swagger==0.1.9
yaswfp==0.9.3
aiosqlite